%h1= 'matt kent'

.description
  I'm a software engineer. I graduated from <a href="http://www.rit.edu">RIT</a> in 2007. During school I co-founded the open-source Ruby on Rails IDE <a href="http://en.wikipedia.org/wiki/RadRails">RadRails</a> and worked at IBM in Raleigh and Zurich. After graduation I co-founded Pressflip, a personalized search engine, and Reactualize, a software consultancy that built and launched products for venture-backed startups. Now I'm leading engineering at <a href="http://www.sprig.com">Sprig</a> where we're making it simple to eat well.

%ul
  %li
    %a{href: 'http://twitter.com/mattkent'}= 'twitter'
  %li
    %a{href: 'http://github.com/matthewkent'}= 'github'
  %li
    %a{href: 'http://www.linkedin.com/in/mattkent'}= 'linkedin'
